<!DOCTYPE html>
<html>
  <head>
    <%= javascript_pack_tag 'application' %>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
  </head>

  <body>
    <%= react_component("DiplomaBuilder", {events: []}) %>
  </body>
</html>
