// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import 'activeadmin/trumbowyg/ui/sass/trumbowyg';
@import 'activeadmin/trumbowyg_input';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$red_required: #FF530D;

* {
  box-sizing: border-box;
}
*:before,
*:after {
box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}



#wrapper {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 160px; /* height of your footer */


  input[type=number] {
    width: 5%;
    padding: 10px;
    font-size: 18px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 20px !important;
  width: 100%;
  text-align: center;
  background: linear-gradient(360deg, #efefef, #dfe1e2);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.37);

  
  .footer-left {
    width: 49%;
    text-align: left;
    display: inline-block;
    ul {
      list-style: none;
      li {
        padding: 3px 0;
      }
    }
  }

  .footer-right {
    width: 49%;
    text-align: right;
    display: inline-block;
    ul {
      list-style: none;
      li {
        padding: 3px 0;
      }
    }
  }
}


.columns {
  padding: 1rem 20%;

  li {
    margin-top: .5rem;
  }

  span {
    font-size: 1.0em;
    font-weight: bold;
    color: #5E6469;
  }
}

.required-label {
  display: block;
  width: 95%;
  text-align: right;
  padding: 14px 0;
  color: $red_required;
}

form .required {

  &:not(.trumbowyg) {
    color: $red_required;
    text-decoration: underline dotted;
  }
}

abbr[title="requerido"] {
  color: $red_required;
  padding: 3px;
}

#main_content_wrapper {
  margin-bottom: 5vh;
}
