<table cellspacing="1">
  <thead>
    <tr>
      <th>Email</th>
      <th>Rol</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.get_role_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>