@import './variables';
@import './react-dropdown';

.diploma-builder {
  padding: 2rem;

  .bordered {
    background: $panel-background;
    border-radius: 4px;
    box-shadow: inset 0 1px 4px $gray;
    margin-bottom: 20px;

    .diploma-builder-item {

      .item-title {
        background-color: #efefef;
        background-image: linear-gradient(180deg, #efefef, #dfe1e2);
        text-shadow: $white 0 1px 0;
        border: solid 1px #cdcdcd;
        border-color: #d4d4d4;
        border-top-color: #e6e6e6;
        border-right-color: #d4d4d4;
        border-bottom-color: #cdcdcd;
        border-left-color: #d4d4d4;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px $white inset;
        font-size: 1em;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 0.5em;
        color: #5E6469;
        padding: 5px 10px 3px 10px;

        &.center {
          text-align: center;
        }
      }

      .item-body {
        padding: 1rem 2rem;
      }
    }

    &.mt-3 {
      margin-top: 3rem;
    }

    &.with-sidebar {

      .bordered {
        margin-right: 15px;
      }

      .outter {
        padding: .5rem 2rem;

        &:before {
          position: relative;
          left: 45%;
          top: 10rem;
          content: 'Sube una imagen';
          font-size: 16px;
          text-transform: uppercase;
          color: $darken-gray;
          font-family: sans-serif;
        }
      }

      .diploma-builder-item {
        &.body {
          display: inline-block;
          width: 79%;

          .no-image {
            border: 5px dashed $dashed-border-color;
            min-height: 20rem;
          }
        }
      }
    }
  }

  .sidebar {
    float: right;
    width: 20%;
    margin-left: -270px;
    display: inline-block;
    margin-top: .5rem;

    .diploma-builder-item {
      background: white;
      border: 1px solid $panel-border-color;
    }

    .sidebar-tools {

      ul.tools {
        list-style: none;
        margin: 0;
        padding: 0 0.5rem;

        .item-tool {
          background: $tool-background-color;
          margin: 1.5rem 0;
          padding: .5rem;
          text-align: center;
          box-shadow: 0px 1px 1px $panel-border-color;
          cursor: move;
        }
      }
    }
  }
}